<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.store.mapper.GoodsMapper">
	<select id="getGoodsList" resultType="cn.tedu.store.entity.Goods">
		SELECT
			id,
			category_id categoryId,
			item_type itemType,
			title,
			sell_point sellPoint,
			price,num,barcode,
			image,
			status,priority,
			created_time createdTime,
			modified_time modifiedTime,
			created_user createdUser,
			modified_user modifiedUser
		FROM
			t_goods
		LIMIT
			#{offset},30
	</select>
		<select id="getGoodsByCategory" resultType="cn.tedu.store.entity.Goods">
		SELECT
			id,
			category_id categoryId,
			item_type itemType,
			title,
			sell_point sellPoint,price,
			num,barcode,
			image,status,priority
		FROM 
			t_goods
		WHERE
			category_id = #{categoryId}
			AND num > 0
			AND status = 1
		ORDER BY
		<if test="orderBy !=null">
			#{orderBy}
		</if>
		<if test="orderBy ==null">
			priority DESC
		</if>
		LIMIT
			#{offset},#{pageCount}
	</select>
	<select id="getGoodsPageNumByCategory" resultType="java.lang.Integer">
		SELECT
			count(*)
		FROM
			t_goods
		WHERE
			category_id = #{categoryId}
			AND status = 1
	</select>
	<select id="getGoodsById" resultType="cn.tedu.store.entity.Goods">
		SELECT
			id,
			category_id categoryId,
			item_type itemType,
			title,
			sell_point sellPoint,
			price,num,barcode,
			image,status,priority,
			created_time createdTime,
			modified_time modifiedTime,
			created_user createdUser,
			modified_user modifiedUser
		FROM
			t_goods
		WHERE
			id = #{id}
			AND status = 1
	</select>
	<select id="getGoodsByItemType" resultType="cn.tedu.store.entity.Goods">
		SELECT
			id,title,num
		FROM
			t_goods
		WHERE
			item_type = #{itemType}
			AND status = 1
		ORDER BY
			id DESC
	</select>
</mapper>